@{
    ViewData["Title"] = "ListToursSearch";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/TourList.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="search-container">
        <form action="@Url.Action("SearchTours", "ListTourCustomer")" method="get">
            <input type="text" name="searchTerm" placeholder="Search tours...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="tours-container">
        @if (Model.Any())
        {
            @foreach(var item in Model)
            {
                <div class="tour-item">
                    <a asp-action="ViewTourDetails" asp-route-id="@item.TourID"><img src="@Url.Content(item.ImagePath)" alt="Tour Image" class="tour-imagea"> </a>   
                    <div class="tour-list">
                        <p><strong>Date Start:</strong> @item.DateStart</p>
                        <p><strong>Tour Dates:</strong> @item.TourDates</p>
                        <p><strong>Name:</strong> @item.TourName</p>
                        
                        <p><strong>Cost:</strong> @item.Cost</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No tours found.</p>
        }
    </div>
</body>
</html> 