@model VivaVoyages.Models.Tour

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>

<body>

    <h4>Tour</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TourId" />
                <div class="form-group">
                    <label asp-for="TourName" class="control-label"></label>
                    <input asp-for="TourName" class="form-control" />
                    <span asp-validation-for="TourName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpectedProfit" class="control-label"></label>
                    <input asp-for="ExpectedProfit" class="form-control" />
                    <span asp-validation-for="ExpectedProfit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateStart" class="control-label"></label>
                    <input asp-for="DateStart" class="form-control" />
                    <span asp-validation-for="DateStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TourDates" class="control-label"></label>
                    <input asp-for="TourDates" class="form-control" />
                    <span asp-validation-for="TourDates" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPasseger" class="control-label"></label>
                    <input asp-for="MaxPasseger" class="form-control" />
                    <span asp-validation-for="MaxPasseger" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TourGuide" class="control-label"></label>
                    <input asp-for="TourGuide" class="form-control" />
                    <span asp-validation-for="TourGuide" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tax" class="control-label"></label>
                    <input asp-for="Tax" class="form-control" />
                    <span asp-validation-for="Tax" class="text-danger"></span>
                </div>

                <!-- Destination Inputs -->
                <div>
                    <h2>Destinations</h2>
                    @if (Model.Destinations.Any())
                    {
                        <table>
                            <tr>
                                <th>Destination ID</th>
                                <th>Description</th>
                                <th>Date Visit</th>
                                <th>Place Id</th>
                                <th> </th>
                            </tr>
                            @foreach (var destination in Model.Destinations)
                            {
                                <tr>
                                    <td>@destination.DestinationId</td>
                                    <td>@destination.Description</td>
                                    <td>@destination.DateVisit</td>
                                    <td>@destination.PlaceId</td>
                                    <td>
                                        <a asp-action="EditAndReturn" asp-controller="Destination"
                                            asp-route-id="@destination.DestinationId" asp-route-tourId="@Model.TourId">Edit
                                            Destination</a>
                                    </td>

                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No destinations found for this tour.</p>
                    }
                    
                </div>



                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>

</html>
