@model IEnumerable<VivaVoyages.Models.Order>

@{
 Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div >
<div style="border-radius: 23px;border: 1.4px solid rgb(24,113,203) ; padding: 20px;" >

    <h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Staff</th>
            <th>Tour</th>
            <th>Status</th>
            <th>Coupon Code</th>
            <th>Total</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.CustomerId</td>
                <td>@order.StaffId</td>
                <td>@order.TourId</td>
                <td>@order.Status</td>
                <td>@order.CouponCode</td>
                <td>@order.Total</td>
                <td>@order.DateCreated.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@order.OrderId">Edit</a> 
                    @* <a asp-action="Delete" class="btn btn-danger" asp-route-id="@order.OrderId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>


</div>
</div>

