@model IEnumerable<VivaVoyages.Models.Coupon>

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

<html data-bs-theme="light" lang="en" style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div></div>
        <div style="padding: 35px;">
            <div class="row" style="border-radius: 23px;border: 1.4px solid rgb(24,113,203);">
                <div class="col m-auto">
                    <div class="row" style="border-bottom: 0.6px solid rgb(20,114,208);">
                        <div class="col">
                            <h1>Coupons</h1>
                            <p>This is Coupons</p>
                        </div>
                        <div class="col"></div>
                        <div class="col d-lg-flex justify-content-center justify-content-lg-end align-items-lg-center">
                            <ul class="list-inline d-grid d-lg-flex">
                                <li class="list-inline-item d-md-flex justify-content-md-center align-items-md-center">
                                    <button class="btn btn-primary btn-lg" type="button" asp-action="Create"
                                        style="padding: 17px 16px;font-size: 22px;">Add new coupon</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive" style="margin: 10px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>CouponCode</th>
                                    <th>Discount</th>
                                    <th>DateStart</th>
                                    <th>DateEnd</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="m-auto">@item.CouponCode</td>
                                        <td class="m-auto">@item.Discount</td>
                                        <td class="m-auto">@item.DateStart</td>
                                        <td class="m-auto">@item.DateEnd</td>
                                        <td class="text-center m-auto">
                                            <button class="btn btn-primary" type="button"
                                                style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><svg
                                                    class="bi bi-clipboard-data text-primary"
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16"
                                                    style="width: 16px;margin-right: 0px;">
                                                    <path
                                                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z">
                                                    </path>
                                                    <path
                                                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z">
                                                    </path>
                                                    <path
                                                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z">
                                                    </path>
                                                </svg></button>
                                            <button asp-action="Edit" asp-route-id="@item.CouponCode" class="btn btn-primary" type="button" 
                                                style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><svg
                                                    
                                                    class="bi bi-pencil-square text-primary"
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16"
                                                    style="width: 16px;margin-right: 0px;">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
                                                    </path>
                                                </svg></button>
                                            <button asp-action="Delete" asp-route-id="@item.CouponCode"  class="btn btn-primary" type="button"
                                                style="width: 90px;height: 45px;background: rgba(13,110,253,0);border-width: 0.2px;border-color: rgba(255,255,255,0);"><svg
                                                    class="bi bi-trash text-primary" xmlns="http://www.w3.org/2000/svg"
                                                    width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                                                    style="width: 16px;margin-right: 0px;">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z">
                                                    </path>
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z">
                                                    </path>
                                                </svg></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>