@model IEnumerable<VivaVoyages.Models.Order>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "CustomerOrder";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div  style="border-radius: 23px;border: 1.4px solid rgb(24,113,203); padding: 20;">

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CouponCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Order" asp-action="EditAndReturn" asp-route-id="@item.OrderId"  asp-route-customerId="@item.CustomerId">Edit Order Status</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    
</body>

</html>
