@model IEnumerable<VivaVoyages.Models.Order>

@{
    ViewData["Title"] = "PendingOrders";
}
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    <div style="border-radius: 23px;border: 1.4px solid rgb(24,113,203); padding: 20px;">
       
         <h1>Pending Orders</h1>
                            <p>With Staff</p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TourId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TourId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            <form asp-action="ChangeOrderStatus" asp-route-orderId="@item.OrderId" method="post">
                                <button type="submit">Paid</button>
                                <input type="hidden" name="newStatus" value="Paid" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

</html>