@model VivaVoyages.Models.Place

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="row" style="border-radius: 23px;border: 1.4px solid rgb(24,113,203); ; padding: 10 10;">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<img src="@Model.ImagePath" sizes="200px">
<div>
    
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
</body>
</html>
