@model VivaVoyages.Models.Customer
@{
    ViewData["Title"] = "ChangePassword";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <title>Document</title>
</head>

<body>
    <main>


        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="col-md-4">
                    <div class="div">
                        <div class="div-2">
                            <img loading="lazy" srcset="..." class="img" />
                            <div class="div-3">@Model.FullName</div>
                        </div>
                        <div class="div-4"></div>
                        <a class="div-5">Account</a>
                        <a asp-action="Index" asp-route-id="@Model.CustomerId" class="div-7"
                            style="text-decoration: none;">Personal Information</a>
                        <a asp-action="ChangePassword" asp-route-id="@Model.CustomerId" class="div-9">Change
                            Password</a>
                        <a asp-action="GetCustomerTours" asp-route-id="@Model.CustomerId" class="div-11" style="text-decoration: none;">Tour management</a>
                        <div class="div-12">sign out</div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="div_">
                        <h2>Change Password</h2>
                        <form asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="@Model.CustomerId" />

                            <div class="form-group">
                                <label for="oldPassword" class="control-label">Old Password</label>
                                <input id="oldPassword" name="oldPassword" class="form-control" type="password" />
                                <span class="text-danger"></span>
                            </div><br>

                            <div class="form-group">
                                <label asp-for="@Model.Password" class="control-label">New Password</label>
                                <input asp-for="@Model.Password" name="newPassword" class="form-control"
                                    type="password" />
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div><br>

                            <div class="form-group">
                                <label for="confirmPassword" class="control-label">Confirm New Password</label>
                                <input id="confirmPassword" name="confirmPassword" class="form-control"
                                    type="password" />
                                <span class="text-danger"></span>
                            </div>

                            <br>

                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>