@model Customer

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <title>Document</title>
</head>

<body>
    <main>

        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="col-md-4">
                    <div class="div">
                        <div class="div-2">
                            <img src="~/img/account.jpg" alt="" style="width: 50px;height: 50px;">
                            <div class="div-3">@Model.FullName</div>
                        </div>
                        <div class="div-4"></div>
                        <a class="div-5">Account</a>
                        <a class="div-7">Personal Information</a>
                        <a asp-action="ChangePassword" asp-route-id="@Model.CustomerId" class="div-9" style="text-decoration: none;">Change Password</a>
                
                        <a asp-action="GetCustomerTours" asp-route-id="@Model.CustomerId" class="div-11" style="text-decoration: none;">Tour management</a>
                        <div class="div-12">sign out</div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-8">
                    <div class="div_">
                        <h2>Profile</h2>
                        <div class="col-6 text-right">
                            <a asp-action="Edit" asp-route-id="@Model.CustomerId"
                                class="btn btn-primary btn-sm">Edit</a>
                        </div>
                        <div class="div-4"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Full Name:</label>
                            <div class="col-sm-10">
                                <p class="form-control-plaintext">@Model.FullName</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Gender:</label>
                            <div class="col-sm-10">
                                <p class="form-control-plaintext">@Model.Gender</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Phone Number:</label>
                            <div class="col-sm-10">
                                <p class="form-control-plaintext">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Address:</label>
                            <div class="col-sm-10">
                                <p class="form-control-plaintext">@Model.Address</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <p class="form-control-plaintext">@Model.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>